/$AV_ASW
/$RECYCLE.BIN
/.vscode
/Activator
/Backups
/cmdline-tools
/FYP
/FYP DEP
/FYP DEP.zip
/FYP.zip
/Game of Thrones
/github-repos
/leole
/Microsoft VS Code
/My Documents
/ngrok.exe
/PBA Biology.pptx
/Rockstar Games
/System Volume Information
/Touro
/VLC
/Wioreach
/Zara's Documents